@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
  width: 100%; /* Évite tout dépassement */
}


:root {
    --primary: rgb(15, 15, 15); 
    --second: #1a1a1a ;
    --medium: #242424;
    --text: rgba(255, 255, 255, 0.911);
    --button: #00AEEF; 
    --paragraph: rgb(175, 175, 175); 
    --bluecolor: #0f172a;
    /* #00AEEF #ff5722 #0A3D62 */
    transition: all 0.1s ease-in-out;
}

.root-2 {
  --primary: #ffffff;
  --second: #f5f5f5;
  --medium: #e0e0e0;
  --text: rgb(15, 15, 15);
  --button: #007BFF; 
  --paragraph: rgb(80, 80, 80); 
  --bluecolor: #0f172a;
}

#themeToggle {
  position: absolute;
  top: 110px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: var(--medium);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.123);
}

#themeToggle img {
  width: 22px;
  z-index: 1000;
}

.header {
    background: var(--primary);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.219); /* Ombre douce */
    width: 100%;
    height: 15vh;
    padding: 25px 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    /* background: linear-gradient(90deg, #00AEEF, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

    color: var(--button);
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links li a {
    color: var(--text);
    text-decoration: none;
    transition: 0.5s;
}

.nav-links li a:hover {
    color: var(--button);
}

#hero {
    background: var(--primary);
    height: 85vh;
    padding: 25px 55px;
}

/* Menu burger */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 20px;
    height: 2px;
    background-color: var(--button);
    margin: 3px 0;
    transition: 0.5s;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .header {
        padding: 25px;
    }

    .burger {
        display: flex;
        justify-content: center;
        position: absolute;
        flex-direction: column;
        right: 25px;
        z-index: 1000;
    }

    
    .nav-links {
        position: absolute;
        top: 0;
        right: 0;
        background: var(--primary);
        width: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        flex-direction: column;
        transition: width 0.5s ease;
    }

    .nav-links.active {
        width: 200px;
    }

    .nav-links li {
        text-align: center;
        padding: 15px;
    }

}

/* HERO */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
    gap: 20px; /* Espacement entre les deux grilles */
    align-items: center; /* Centre le contenu verticalement */
    justify-content: center;
  }
  
  .left-grid {
    color: var(--text);
    padding: 20px;
  }

  h2 {
    font-size: 2.5rem;
    color: var(--text);
  }
  
    p {
    line-height: 1.8;
    text-align: left;
    margin-bottom: 35px;
    color: var(--paragraph);
  }

  .button-hero {
    font-size: 1.2rem;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--button);
    text-decoration: none;
    color: var(--button);
  }

  .stat {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ; /* Deux colonnes égales */
    gap: 20px; /* Espacement entre les deux grilles */
    align-items: center;
  }

  .stat p {
    line-height: 1.5;
    font-size: 1rem;
  }

  .right-grid {
    display: grid;
    place-items: center; /* Centre la carte dans la grille */
  }
  
  .card {
    width: 450px;
    height: 450px;
    border-radius: 15px;
    /* overflow: hidden; */
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s ease-in-out;
  }

  span {
    color: var(--button);
  }

  h2 {
    letter-spacing: 1px;
  }

  .stat span {
    font-size: 1.5rem;
    color: var(--button);
    font-weight: bold;
  }

  
/* 2nd hero */
.product-range {
    background: var(--second);
    min-height: 100vh;
    padding: 50px 5%;
}

/* products */
.product-range {
  color: var(--text);
  text-align: center;
}

.range-header h2 {
  margin-bottom: 15px;
}

.range-header p {
  max-width: 800px;
  margin: 0 auto 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.product-card {
  background: var(--second);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid var(--button);
}

.product-card img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.product-card h3 {
  margin-bottom: 10px;
}

.product-card .price {
  font-weight: bold;
  color: var(--button);
  text-align: center;
}

/* third-hero */
.grid-container {
  background: var(--primary);
  height: 100vh;
  padding: 25px 55px;
}

/* grid  */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.grid-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.text-content h2 {
  margin-bottom: 15px;
}

/* avis */
.reviews {
  text-align: center;
  background: var(--second);
  padding: 60px 20px;
}

.reviews h2 {
  color: var(--text);
  margin-bottom: 30px;
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.review {
  background: var(--medium);
  padding: 40px;
  border-radius: 12px;
}

.review-content {
  max-width: 400px;
  margin: auto;
}

.quote {
  font-style: italic;
}

.stars {
  font-size: 1.5em;
  color: var(--button);
  margin: 10px 0;
}

h4 {
  margin-top: 15px;
  color: var(--paragraph);
}

/* services  */
.services {
  background: var(--second);
  height: 85vh;
  padding: 25px 55px;
}

.services {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.service-card {
  border-radius: 5px;
  padding: 25px 35px;
  width: 400px;
  max-height: 350px;
  text-align: left;
  border: 1px solid var(--button);
}

.service-card p {
  margin: 10px 0;
}

.service-card p span {
  font-weight: bold;
  font-size: 1.5rem;
}

.icon img {
  width: 50px;
  height: 50px;
}
 
/* fouth hero  */
#fourth-hero {
  background: var(--primary);
  height: 100vh;
  padding: 25px 55px;
}

/* contact connection  */
/* Style du formulaire de contact */
.fiveth-hero {
  background: var(--primary);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  padding: 25px 55px;
} 

.contact-section {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: transparent;
  border-radius: 10px;
  text-align: center;
  border: 1px solid var(--button);
}

.contact-section h2 {
  margin-bottom: 15px;
  color: var(--text);
}

.contact-section input, .contact-section textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--button);
  outline: none;
  border-radius: 5px;
  resize: none;
  background: transparent;
  color: var(--text);
}

.contact-section input::placeholder, 
.contact-section textarea::placeholder {
  color: var(--paragraph);
}

.contact-section button {
  width: 100%;
  padding: 10px;
  background: var(--button);
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

/* Overlay (arrière-plan flou) */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 5;
}

/* Formulaire de connexion (caché par défaut) */
.login-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary);
  padding: 45px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.103);
  z-index: 10;
  width: 500px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  color: var(--text);
}

.login-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--button);
  outline: none;
  border-radius: 5px;
  margin-bottom: 15px;
  color: var(--text);
  background: transparent;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background: var(--button);
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1rem;
}

/* Bouton de fermeture */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: var(--text);
}

/* footer 2 */
.footer-container {
  background-color: var(--second);
  color: var(--text);
  padding: 40px 10%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.footer-text {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 20px;
}

.footer-text p {
  color: var(--text);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}

.footer-links {
  list-style: none;
  padding: 0;
  text-align: left;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: var(--paragraph);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--button);
}

.footer-bottom {
  text-align: center;
  font-size: 1rem;
  margin-top: 20px;
  border-top: 1px solid var(--button);
  padding-top: 15px;
  width: 100%;
}

/* responsive */
@media screen and (max-width: 1024px) {
  #hero {
    min-height: auto; /* Assure que la section prend au moins toute la hauteur de l'écran */
    height: auto; /* Permet à la hauteur de s'ajuster au contenu */
}
}

@media screen and (max-width: 1024px) {
  #fiveth-hero {
    min-height: auto; /* Assure que la section prend au moins toute la hauteur de l'écran */
    height: auto; /* Permet à la hauteur de s'ajuster au contenu */
}
}

@media screen and (max-width: 768px) {
  #hero {
    min-height: auto; /* Assure que la section prend au moins toute la hauteur de l'écran */
    height: auto; /* Permet à la hauteur de s'ajuster au contenu */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre le contenu verticalement */
    align-items: center;
    padding: 50px 8%; /* Ajoute de l'espace sous le bouton */
}

    .left-grid {
        width: 100%;
        padding: 15px 0;
    }

    .left-grid h2 {
        text-align: left;
        font-size: 1.8em;
        margin-bottom: 10px;
    }

    .left-grid p {
        text-align: left;
        font-size: 1em;
        line-height: 1.5;
        word-wrap: break-word;
        margin-bottom: 20px; /* Ajoute un espace sous le texte */
    }

    .button-hero {
        display: block;
        text-align: center;
        width: 100%;
        margin: 15px auto;
    }

    .stat {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: center;
        gap: 15px;
        flex-wrap: wrap; /* Permet aux stats de bien s’adapter */
        margin-top: 20px; /* Évite qu'elles collent au texte */
    }

    .stat p {
        flex: 1;
        font-size: 0.9em;
        min-width: 100px;
    }

    .right-grid {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px; /* Donne plus d’espace avant l’image */
        margin-bottom: -190px; /* Donne plus d’espace avant l’image */
    }

    .right-grid .card img {
        max-width: 100%; /* Empêche l’image d’être coupée */
        height: auto;
        display: block;
    }
}

@media screen and (max-width: 768px) {
  #second-hero {
    padding: 50px 8%;
  }

  #second-hero p,
  #second-hero h3 {
    font-size: 1em;
    line-height: 1.5;
    text-align: left;
  }

  #second-hero h2 {
    font-size: 1.8em;
    text-align: center;
  }
 

}

@media screen and (max-width: 768px) {
  #third-hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      min-height: auto; /* Hauteur complète de l'écran */
      height: auto; /* Hauteur complète de l'écran */
      padding: 20px;
      justify-content: flex-start; /* Aligner le texte en haut */
  }

  .text-content {
      max-width: 100%;
      padding: 20px;
      text-align: left;
      margin-bottom: -35px; /* Ajoute un espace entre le texte et l’image */
  }

  .text-content h2 {
      font-size: 1.8em;
  }

  .text-content p {
      font-size: 1em;
      line-height: 1.5;
  }

  #third-hero img {
      display: block;
      max-width: 100%;
      height: auto;
      visibility: visible;
      margin-bottom: 25px;
  }
}


@media screen and (max-width: 768px) {
  .services {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
      padding: 20px;
      min-height: auto; /* Permet d'ajuster la hauteur selon le contenu */
      height: auto; /* S'assure que la hauteur s'adapte */
      width: 100%; /* Empêche la section d'être écrasée */
      position: relative; /* Assure que la section est bien positionnée */
      padding-top: 55px;
      padding-bottom: 55px;
  }

  .service-card {
      width: 90%;
      max-width: 400px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;
      max-height: fit-content; /* S'adapte au contenu */
  }

  .service-card .icon img {
      max-width: 60px;
      height: auto;
      margin-bottom: 15px;
  }

  .service-card p {
      font-size: 1em;
      line-height: 1.5;
      margin-bottom: 10px;
  }

  .service-card span {
      margin-top: auto;
  }
}


@media screen and (max-width: 768px) {
  #fourth-hero {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 25px 8%; /* Réduction du padding */
      gap: 55px; /* Diminue l’espace entre les éléments */
      min-height: auto; /* Permet d'ajuster la hauteur selon le contenu */
      height: auto;
  }

  #fourth-hero .right-grid {
      order: 1;
      width: 100%;
      display: flex;
      justify-content: center;
      /* margin-bottom: 10px; Réduction de l'espace après l'image */
  }

  #fourth-hero .right-grid .card {
      width: 100%;
      max-width: 350px;
  }

  #fourth-hero .right-grid .card img {
      width: 100%;
      height: auto;
      display: block;
      padding-top: 10px; /* Moins d’espace en haut */
  }

  #fourth-hero .left-grid {
      order: 2;
      width: 100%;
  }

  #fourth-hero .left-grid h2 {
      font-size: 1.8em; /* Légère réduction de la taille */
      margin-bottom: 5px; /* Réduction de l'espace sous le titre */
  }

  #fourth-hero .left-grid p {
      font-size: 1em;
      margin-bottom: 20px; /* Réduction de l’espace sous le texte */
  }

  #fourth-hero .button-hero {
      width: 100%; /* Évite qu’il soit trop large */
      padding: 12px;
      margin-top: 15px; /* Ajuste l’espacement */
      margin-bottom: 0;
  }
}



@media screen and (max-width: 768px) {
  .reviews-container {
      grid-template-columns: 1fr;
  }

  .reviews {
    padding: 50px 8%;
  }

  .reviews h2 {
    font-size: 1.8em;
  }

  .review-content p,
  .review-content h4 {
    text-align: center;
    font-size: 1em;
  }

}



@media screen and (max-width: 768px) {
  #fiveth-hero {
      display: flex;
      height: auto;
      min-width: auto;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 30px 20px; /* Ajuste l’espace autour */
  }

  #fiveth-hero .contact-section {
      width: 100%;
      max-width: 400px; /* Limite la largeur pour un bon rendu */
  }

  #fiveth-hero h2 {
      font-size: 1.8rem;
      margin-bottom: 15px; /* Ajoute un peu d'espace */
  }

  #fiveth-hero form {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  #fiveth-hero input,
  #fiveth-hero textarea {
      width: 100%;
      padding: 12px;
      font-size: 1rem;
  }

  #fiveth-hero textarea {
      resize: none; /* Empêche le redimensionnement */
  }

  #fiveth-hero button {
      width: 100%;
      padding: 12px;
      font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .login-form {
      width: 100%;
      max-width: 80%;
      padding: 20px;
      text-align: center;
  }

  .form-content h2 {
    font-size: 1.8em;
  }

  .form-content input,
  .form-content label,
  .form-content textarea {
    font-size: 1em;
  }

}

@media (max-width: 480px) {
  .footer-container {
      text-align: center;
      padding: 35px 8%;
  }

  .footer-content {
      display: flex;
      flex-direction: row;
      gap: 10px;
  }

  .footer-links {
      padding: 0;
      list-style: none;
  }

  .footer-links li {
      margin-bottom: 5px;
  }

  .footer-bottom {
      margin-top: 10px;
  }
}
